@media only screen and (max-width: 1440px){
	#mbrtWrap{
		.innerWrap{
			.tagLine{
				top: 50px;
			}

			.rrssIcons{
				top: 60px;
				height: 100px;

				#ytIcon{
					width: 35px;
				}
				#fbIcon{
					width: 28px;
				}
			}

			.mailIcon{
				width: 30px;
				bottom: 50px;
			}
		}
	}
}


@media only screen and (max-width: 1199px){
	#mbrtWrap{
		.innerWrap{
			min-height: auto;

			.tagLine{
				top: 14%;
			}

			.rrssIcons{
				top: 50px;
				right: 23px;

				#ytIcon{
					width: 28px;
				}
				#fbIcon{
					width: 21px;
				}
			}

			.mailIcon{
				width: 24px;
				bottom: 40px;
				right: 30px;
			}
		}
	}
}

@media only screen and (max-width: 1199px) and (orientation: portrait){
	#mbrtWrap{
		.innerWrap{
			.logoSteps{
				left: 14%;
			}

			section.poster{
				background-position: bottom right 30%;
				background-size: 200%;
			}
		}
	}
}


@media only screen and (max-width: 991px){
	#mbrtWrap{
		.innerWrap{
			.rrssIcons{
				right: 30px;
				top: 30px;
			}

			.mailIcon{
				right: 38px;
			}
		}
	}
}


@media only screen and (max-width: 767px){
	#mbrtWrap{
		.innerWrap{
			.tagLine{
				top: 65%;
			}

			.rrssIcons{
				height: 60px;

				#ytIcon{}
				#fbIcon{
					height: 23px;
				}
			}

			.mailIcon{}
		}
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait){
	#mbrtWrap{
		.innerWrap{section.poster{
				background-position: bottom right 40%;
				background-size: 270%;
			}
		}
	}
}

