@media only screen and (orientation: portrait){
	#mbrtWrap{
		.innerWrap{
			.comingBar{
				.imageContainer{
					animation-duration: 50s;
					-webkit-animation-duration: 50s;
				}
			}
		}
	}
}

@media only screen and (max-width: 1440px){
	#mbrtWrap{
		.innerWrap{
			.tagLine{
				height: 200px;
				top: 50px;
			}
		}
	}
}


@media only screen and (max-width: 1199px){
	#mbrtWrap{
		.innerWrap{
			min-height: auto;

			section.poster{
				.imageContainer{
					// background-position: center right 40%;
				}
			}

			.tagLine{
				height: 160px;
				top: 20%;
			}

			.rrssIcons{
				width: 28px;
				height: 156px;
				top: 5%;

				.iconBox{
					margin-bottom: 15px;
				}
			}

			.mailIcon{
				width: 28px;
				bottom: 5%;
			}
		}
	}
}

@media only screen and (max-width: 1199px) and (orientation: portrait){
	#mbrtWrap{
		.innerWrap{
			.logoSteps{
				left: 14%;
			}

			section.poster{
				.imageContainer{
					background-position: bottom right 30%;
					background-size: 200%;
				}
			}
		}
	}
}


@media only screen and (max-width: 991px){
	#mbrtWrap{
		.innerWrap{
			.tagLine{
				top: 25%;
			}
		}
	}
}


@media only screen and (max-width: 767px){
	#mbrtWrap{
		.innerWrap{
			.tagLine{
				height: 115px;
				top: 40%;
			}

			.rrssIcons{
				width: 22px;
				height: 135px;
				top: 3%;
				right: 6%;

				.iconBox{
					margin-bottom: 10px;
				}
			}

			.mailIcon{
				width: 22px;
				right: 6%;
			}
		}
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait){
	#mbrtWrap{
		.innerWrap{
			section.poster{
				.imageContainer{
					background-position: bottom right 40%;
					background-size: 270%;
				}
			}

			.tagLine{
				width: 60%;
			}
		}
	}
}

